body {
  background-color: #f5f6fa;
}

.components-bg {
  background-color: #fff;
}

.table {
  border-top: 2px solid #e8e8e8; 
  background-color: #fafafa;
  margin: 0 6rem;
  padding-bottom: 2rem;
}

.book {
  border: solid 1px #e8e8e8;
  margin: 2rem 8rem;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

th,
td {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 3rem 6rem;
  margin-top: 5rem;
  margin: 0 6rem;
}

.navbar h1,
.navbar p,
.navbar div {
  margin: 0 2rem;
  font-family: Montserrat, sans-serif;
}

.navbar h1 {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.navbar p {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
}

.navbar div {
  display: flex;
}

.book h4 {
  width: 49px;
  height: 18px;
  opacity: 0.5;
  margin: 0 0 !important;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212
}

.book h2 {
  width: 197px;
  height: 29px;
  margin: 0 0 !important;
  font-family: RobotoSlab;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.book p {
  width: 107px;
  height: 19px;
  margin: 4px 0 0;
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.book a {
  width: 107px;
  height: 19px;
  margin: 4px 0 0;
  padding-right: 15px;
  border-right: 2px solid #e8e8e8;
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  text-decoration: none;
}

.book button {
  background-color: white;
  border: none;
  padding: 0 15px;
  font-family: RobotoSlab;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.components-links {
  margin: 1rem 0;
}

#edit {
  padding-left: 15px;
}

.chapter-manage span {
  width: 126px;
  height: 18px;
  opacity: 0.5;
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.chapter-manage p {
  width: 75px;
  height: 21px;
  margin: 0.5rem 0;
  font-family: RobotoSlab;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--black-two);
}

.chapter-manage button {
  color: white;
  width: 184px;
  height: 33px;
  margin-top: 1rem;
  padding: 7px 19px 8px 22px;
  border-radius: 3px;
  background-color: #0290ff;
}

.graph {
  display: flex;
  padding: 1rem 4rem;
  border-right: 2px solid #e8e8e8;
}

.graph p{
  width: 68px;
  height: 39px;
  margin-top: 13px;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.graph span {
  width: 80px;
  height: 18px;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.circle-wrap {
  width: 90px;
  height: 90px;
  background: #e6e2e7;
  border-radius: 50%;
  margin-right: 15px;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #307bbe;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}
 
.circle-wrap .inside-circle {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 11px;
  margin-left: 11px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

#book-form {
  background-color: #fafafa;
  margin: 0 6rem;
  margin-bottom: 5rem;
  padding-bottom: 10rem;
}

#book-form form {
  margin: 0 8rem;
  padding: 2rem 0;
  border-top: 2px solid #e8e8e8;
}

#book-form h1 {
  width: 174px;
  height: 24px;
  margin: 29px 524px 19px 0;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888888;
}

#name {
  width: 43%;
  height: 20px;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
}

#book-form select {
  width: 25%;
  height: 40px;
  margin: 19px 34px 0;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: white;
}

#book-submit {
  width: 20%;
  height: 40px;
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #0290ff;
  font-family: RobotoSlab;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: white;
}
