body {
  background-color: bisque;
  margin-top: 7rem;
}

.main-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.main-components {
  margin: 2rem;
}